* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 80%;
}

.container {
    width: 300px;
    height: 300px;
    background-color: gold;
    border: black solid 1px;
    transform: rotate(-35deg);
}

p {
    transform: rotate(90deg);
    width: 31%;
}

.container2 {
    width: 200px;
    height: 200px;
    border: black 2px solid;
    transform: translate(-35px, -35px);
}

.container3 {
    z-index: 1;
    width: 200px;
    height: 200px;
    border: black 2px solid;
}

.container4 {
    height: 300px;
    width: 300px;
    background-color: pink;
    border: black 1px solid;
    transform: scale(1.50, 1.50);
}

.container5 {
    z-index: 1;
    height: 300px;
    width: 300px;
    background-color: rgba(255, 192, 203, 0.14);
    border: black 1px solid;
}

.container6 {
    height: 300px;
    width: 300px;
    background-color: #e70024;
    border: black 1px solid;
    transform: skew(40deg, 40deg);
}